{
  "test": ".*.ts$",
  "jsc": {
    "target": "es2016",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false
    }
  },
  "module": {
    "type": "commonjs",
    "strictMode": true,
    "noInterop": true,
    "strict": false
  }
}
