.dialog-code-runner {
  height: 80vh;

  .cm-theme-dark {
    height: 150px;
  }

  .ant-btn {
    margin: 10px;
  }

  .logs {
    height: calc(100% - 150px - 40px);
    width: 100%;
    background-color: #000;
    color: #aaa;
    list-style: circle;
    overflow-y: auto;
  }
}