@import '../../theme.scss';

$panelHeight: calc(100% - 85px);

/* 数据详情 */
.detail {
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $maskBackground;
    display: none;
  }
  .content {
    position: absolute;
    top: 0;
    right: 0;
    width: 90vw;
    bottom: 0;
    transition: all 0.25s ease-in-out;
    background-color: $boxColor;
    color: #fff;

    .url {
      background-color: $boxColor;
      color: $panelFontColor;
      font-weight: bold;
      height: 30px;
      line-height: 30px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .body-panel {
      max-width: 800px;
      width: 100%;
      height: $panelHeight;
      margin: 0 auto;
      word-wrap: break-word;
      word-break: break-all;
      white-space: pre-wrap;
      background-color: $cardColor;
      color: #aaa;
      padding: 50px;
      border-radius: $panelBorderRadius;
      overflow-y: auto;
      overflow-x: hidden;
      line-height: 1.5;
      margin-top: 10px;
      .image-preview-box {
        text-align: center;
      }
      .image-preview {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .tabs {
      display: flex;
      align-items: center;
      background-color: $cardColor;
      height: 35px;
    }

    .tabs > ul{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 0;

      li {
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        font-size: 17px;
        display: inline-flex;
        align-items: center;
        color: #999;

        &.active {
          color: #D35400;
          background-image: var(--rainbow-gradient,#fff);
          background-repeat: repeat;
          background-size: 100%;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          filter: drop-shadow(0 0 2rem #000);
        }
      }
    }

    .form {
      width: 800px;
      height: $panelHeight;
      margin: 0 auto;
      background-color: $panelBackground;
      color: $panelFontColor;
      padding: 10px 30px;
      border-radius: $panelBorderRadius;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      margin-top: 10px;

      .form-item {
        display: flex;
        font-size: 16px;

        label {
          min-width: 20%;
          text-align: right;
          font-weight: bold;
          color: $labelKeyColor;
          &.hl {
            color: red;
            font-weight: bold;
          }
        }

        &-value {
          flex: 1;
          padding-left: 5px;
          word-wrap: break-word;
          word-break: break-all;
          white-space: pre-wrap;
          color: $labelValueColor;
          cursor: pointer;
        }
      }

      &.json {
        &::before {
          content: '数据格式：json';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 20px;
          color: #fff;
          background: green;
          text-align: center;
          line-height: 20px;
        }
      }
      &.formData {
        &::before {
          content: '数据格式：formData';
          color: #F7DC6F;
          background: #1ABC9C;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 0;
          border-radius: 3px;
        }
      }
    }
  }

  &.open {
    .content {
      max-width: 820px;
    }
    .mask {
      display: block;
      cursor: pointer;
    }
  }

  .response-viewer {
    tab-size: 4;
    word-spacing: 0;
  }
}


.data-table {
  width: 100%;
  margin-top: 5px;
  border-collapse: collapse;
  font-size: 13px;
  caption {
    border: solid 1px #EB984E;
    padding: 5px 0;
    text-align: center;
    background: #EB984E;
    color: #fff;
    caption-side: top;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  thead {
    margin-top: 40px;
  }
  td {
    border: solid 1px #ccc;
    padding: 3px 20px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    &:nth-child(1) {
      font-weight: bold;
    }
    &:nth-child(2) {
      cursor: pointer;
    }
  }
}

.body-panel {
  position: relative;
  .handlers {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  pre {
    a {
      color: #839192;
      // text-decoration: underline;
      .str {
        color: #839192;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
