/* 数据表格 */
.table-box {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 90px);
  padding-bottom: 20px;
}
.table {
  width: 100%;

  thead {
    background-color: #F1C40F;
    td {
      font-weight: normal;
      border-color: transparent;
    }
  }

  td {
    padding: 1px 10px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    vertical-align: middle;
    border-bottom: solid 1px #eee;
    &.matched {
      text-align: center;
    }
  }

  tbody {
    tr {
      color: #A6ACAF;
      :nth-child(1) {
        color: #58D68D
      }
      &:hover {
        background-color: #efefef;
        cursor: pointer;
      }
      &.matched {
        color: #212F3C;
        color: #2E86C1;
        font-weight: bold;
      }
      &.active {
        background: #58D68D;
        color: #fff;
        td {
          color: #fff;
        }
      }
      &.error {
        color: red;
        :nth-child(1) {
          color: red;
        }
      }
      &.highlight {
        color: #8E44AD;
        font-weight: bold;
      }
    }
  }

  .status {
    width: 50px;
  }
  .matched {
    width: 60px;
  }
  .method {
    width: 90px;
  }
  .protocol {
    width: 60px;
  }
  .speed {
    width: 80px;
  }
  .host {
    min-width: 100px;
    max-width: 300px;
  }

}

.empty-tip {
  text-align: center;
  font-size: 15px;
  color: #999;
  padding: 20px 0;
}
