/* 数据表格 */
.table-box {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 90px);
  padding-bottom: 20px;
}
.table {
  width: 100%;
}
.table thead {
  background-color: #F1C40F;
}
.table td {
  padding: 5px 10px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  vertical-align: middle;
  border-bottom: solid 1px #eee;
}
.table thead td {
  font-weight: bold;
  border-color: transparent;
}
.table tbody tr:hover {
  background-color: #efefef;
  cursor: pointer;
}
.table tbody tr {
  color: #A6ACAF;
  :nth-child(1) {
    color: #58D68D
  }
  &.matched {
    color: #212F3C;
  }
  &.active {
    background: #efefef;
  }
  &.error {
    color: red;
    :nth-child(1) {
      color: red;
    }
  }
}
.table {
  td.matched {
    text-align: center;
  }
}
.table .status {
  width: 50px;
}
.table .matched {
  width: 60px;
}
.table .method {
  width: 90px;
}
.table .protocol {
  width: 60px;
}
.table .speed {
  width: 80px;
}
.table .host {
  min-width: 100px;
  max-width: 300px;
}
.empty-tip {
  text-align: center;
  font-size: 15px;
  color: #999;
  padding: 20px 0;
}
