.test-page {
  width: 100%;

  pre {
    margin-top: 10px;
    width: 100%;
    background: #333;
    color: #fff;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre;
    padding: 30px;
    font-size: 18px;

    &.matched {
      background-color: #117A65;
    }
  }
}
