.bp-filter-form-item-content-type {
  .ant-radio-button-wrapper {
    > span {
      &:nth-child(2) {
        display: flex;
        align-items: center;
        .bp-icon {
          margin-right: 3px;
        }
      }
    }
  }
}
