@import '../../theme.scss';

.bp-filter-form-item-content-type {
  .ant-col-15 {
    max-width: 100%;
  }
  .ant-radio-button-wrapper {
    > span {
      &:nth-child(2) {
        display: flex;
        align-items: center;
        .bp-icon {
          margin-right: 3px;
          &.icon-javascript {
            fill: yellow;
          }
          &.icon-json {
            fill: rgb(0, 255, 68);
          }
          &.icon-html {
            fill: #888;
          }
          &.icon-image {
            fill: #ccc;
          }
        }
      }
    }
  }
}

.bp-filter-item-highlight-tips {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bp-filter-item {
  .bp-filter-item-tips {
    color: $highlightTextColor;
    padding-top: 10px;
    font-weight: bold;
  }
  .bp-matched-item-tips {
    color: $matchedTextColor;
    padding-top: 10px;
    font-weight: bold;
  }
}
