@import '../../theme.scss';
.dialog-logs {
  height: 86vh;

  .ant-btn {
    position: absolute;
    top: 7px;
    right: 40px;
  }

  .config-path {
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-top: -10px;
    > span {
      text-decoration: underline;
      color: rgb(231, 76, 60);
    }
  }
  .config-wrap {
    display: flex;
    height: calc(100% - 37px);
    .left {
      flex: 1;
      font-size: 11px;
    }
    .right {
      flex: 1;
      padding: 0 10px;
      background-color: rgb(33, 47, 60);
      display: flex;
      flex-direction: column;
      code {
        overflow-y: auto;
        @include scrollbar();
      }
    }
  }
}
