.dialog-page-debug {
  width: 100%;
  height: 85vh;
  ul, li {
    margin: 0;
    padding: 0;
  }
  ul li {
    padding: 10px 0;
  }
  &-group {
    display: flex;
    justify-content: space-between;
    .img {
      width: 32px;
      height: 32px;
    }
    .content{
      flex: 1;
      padding-left: 20px;
    }
    > div {
      display: flex;
      flex-direction: column;
    }
  }

  .empty-sockets {
    .title {
      font-weight: bold;
      color: #ccc;
      text-align: center;
      font-size: 13px;
    }
  }
}
