@import '../theme.scss';
@import '../mixin.scss';
$textShadowColor: #B7950B;

.controller {
  max-width: 600px;
  padding: 6px 25px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  background-color: $cardColor;
  margin: 0 auto;
  margin-bottom: 2px;
  position: relative;

  >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $iconColor;
    cursor: pointer;
    @include noselect;
    &:hover {
      color: rgb(88, 214, 141);
    }
    &.disabled {
      > span {
        color: $disabled;
      }
    }
    &.warn {
      color: rgb(231, 76, 60)
    }
    >span {
      font-size: 13px;
      &:nth-child(2) {
        margin-top: 4px;
      }
    }
    >.anticon {
      width: 14px;
      height: 14px;
      cursor: pointer;
      >svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .disconnected {
    background-color:goldenrod;
    color: red;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

