@import '../theme.scss';

$panelHeight: calc(100% - 60px);

/* 数据详情 */
.detail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .mask {
    position: absolute;
    top: -200px;
    left: -200px;
    right: -200px;
    bottom: -200px;
    background-color: $maskBackground;
    display: none;
  }
  .content {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 90vw;
    transition: all 0.25s ease-in-out;
    background-color: $boxColor;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);

    .url {
      background-color: $boxColor;
      color: $linkColor;
      height: 30px;
      line-height: 30px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 10px;
      cursor: pointer;
      font-size: 15px;
      &:hover {
        text-decoration: underline;
        color: $hoverColor;
      }
    }

    .tabs {
      display: flex;
      align-items: center;
      background-color: $cardColor;
      box-shadow: $cardColor 0px 10px 10px -10px;
    }

    .tabs > ul{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 0;

      li {
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        color: #999;
        height: 30px;
        line-height: 30px;
        flex: 1;

        &:hover {
          color:rgb(46, 204, 113);
        }
        &.active {
          color: rgb(231, 76, 60);
          background-repeat: repeat;
        }
      }
    }

    .form {
      table.kv-table {
        width: 100%;
        font-size: 17px;
        border-collapse: collapse;
        .bproxy-key {
          color: rgb(175, 122, 197);
          background: #000;
          padding: 5px;
          border-radius: 5px;
        }
        tr {
          td {
            border: solid 1px rgb(133, 146, 158, 0.1);
            &:nth-child(1) {
              text-align: right;
              color: $labelKeyColor;
              width: 40%;
              &.hl {
                color: red;
                font-weight: bold;
              }
            }
            &:nth-child(2) {
              color: $labelValueColor;
              padding-left: 5px;
              > span {
                cursor: pointer;
              }
              &:hover {
                color: $hoverColor;
              }
            }
          }
        }
      }

      &.json {
        &::before {
          content: '数据格式：json';
          width: 100%;
          height: 30px;
          color: #fff;
          background: #141414;
          text-align: center;
          line-height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px 0;
          border-radius: 3px;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
      &.formData {
        &::before {
          content: '数据格式：formData';
          color: #fff;
          background: #566573;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 0;
          border-radius: 3px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &.open {
    display: block;
    .content {
      max-width: 820px;
    }
    .mask {
      display: block;
      cursor: pointer;
    }
  }

  .response-viewer {
    tab-size: 2;
    word-spacing: 0;
    line-height: 1.3;

    .tips {
      color: #555;
    }
  }

  .max-text-limit {
    max-width: 500px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.3;
  }
  .max-text-limit-2 {
    max-width: 300px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.3;
  }
}


.data-table {
  width: 100%;
  margin-top: 5px;
  border-collapse: collapse;
  font-size: 13px;
  caption {
    border: solid 1px #2E4053;
    padding: 5px 0;
    text-align: center;
    background: #2E4053;
    color: #fff;
    caption-side: top;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  thead {
    margin-top: 40px;
  }
  td {
    border: solid 1px #2E4053;
    padding: 3px 20px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    &:nth-child(1) {
      font-weight: bold;
      color: #aaa;
    }
    &:nth-child(2) {
      color: #999;
      > span {
        cursor: pointer;
      }
    }
  }
}

.body-panel {
  position: relative;
  width: 100%;
  height: $panelHeight;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: $cardColor;
  color: #aaa;
  padding: 10px;
  // border-radius: $panelBorderRadius;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1;
  margin-top: 3px;
  .not-support {
    text-align: center;
  }
  .image-preview-box {
    text-align: center;
    .ant-spin {
      display: block;
    }
  }
  .video-preview-box {
    video {
      width: 100%;
    }
  }
  .image-preview {
    max-width: 100%;
    max-height: 100%;
    box-shadow: rgb(255 255 255 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  }
  .handlers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .ant-btn {
      margin-left: 10px;
    }
  }
  pre {
    line-height: 1.3;
    font-size: 13px;
    a {
      color: rgb(39, 174, 96);
      .str {
        color: rgb(39, 174, 96);
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .ws-list {
    list-style: none;
    li {
      padding: 5px 0;
      color: rgb(153, 153, 153);
      .up {
        font-style: italic;
        position: relative;
        &::before {
          content: '➜';
          position: absolute;
          top: 0;
          left: -20px;
          font-style: normal;
          color: rgb(52, 152, 219);
          transform: rotate(90deg);
        }
      }
      .down {
        font-style: normal;
        position: relative;
        &::before {
          content: '➜';
          position: absolute;
          top: 0;
          left: -20px;
          color: green;
          transform: rotate(-90deg);
        }
      }
    }
  }
  .format-btn {
    display: inline-flex;
    align-items: center;
    padding: 3px 4px;
    background: chocolate;
    color: #fff;
    border-radius: 2px;
    margin-left: 10px;
    font-size: 11px;
  }
}

.raw-body {
  position: relative;
  width: 100%;
  height: $panelHeight;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: $cardColor;
  color: #fff;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.3;
  margin-top: 1px;
  .title {
    font-size: 16px;
    color: rgb(22, 160, 133);
  }
}

.params-view {
  .title {
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    color: rgb(46, 204, 113);
    margin-top: 10px;
  }
  .form {
    height: auto;
    &.empty {
      display: none;
    }
    background-color: rgb(27, 38, 49);
    padding: 10px;
  }
  .emptyText {
    color: #666;
    padding-left: 20px;
  }
}

.body-panel pre a.json-viewer-link {
  position: relative;
  img {
    display: none;
  }
  &:hover {
    color: red;
    * {
      color: red;
    }
    img {
      position: absolute;
      bottom: 100%;
      left: 0;
      display: block;
      max-height: 150px;
    }
  }
}
