@import '../theme.scss';

$panelHeight: calc(100% - 85px);

/* 数据详情 */
.detail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .mask {
    position: absolute;
    top: -200px;
    left: -200px;
    right: -200px;
    bottom: -200px;
    background-color: $maskBackground;
    display: none;
  }
  .content {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 90vw;
    transition: all 0.25s ease-in-out;
    background-color: $boxColor;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);

    .url {
      background-color: $boxColor;
      color: $linkColor;
      height: 30px;
      line-height: 30px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 10px;
      cursor: pointer;
      font-size: 15px;
      &:hover {
        text-decoration: underline;
        color: $hoverColor;
      }
    }

    .tabs {
      display: flex;
      align-items: center;
      background-color: $cardColor;
      height: 35px;
      box-shadow: $cardColor 0px 10px 10px -10px;
    }

    .tabs > ul{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 0;

      li {
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        font-size: 19px;
        display: inline-flex;
        align-items: center;
        color: #999;

        &.active {
          color: #D35400;
          background-image: var(--rainbow-gradient,#fff);
          background-repeat: repeat;
          background-size: 100%;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          filter: drop-shadow(0 0 2rem #000);
        }
      }
    }

    .form {
      table.kv-table {
        width: 100%;
        font-size: 17px;
        .bproxy-key {
          color: #CB4335;
        }
        tr {
          td {
            &:nth-child(1) {
              text-align: right;
              color: $labelKeyColor;
              width: 30%;
              &.hl {
                color: red;
                font-weight: bold;
              }
            }
            &:nth-child(2) {
              color: $labelValueColor;
              padding-left: 5px;
              > span {
                cursor: pointer;
              }
              &:hover {
                color: $hoverColor;
              }
            }
          }
        }
      }

      &.json {
        &::before {
          content: '数据格式：json';
          width: 100%;
          height: 30px;
          color: #fff;
          background: #141414;
          text-align: center;
          line-height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px 0;
          border-radius: 3px;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
      &.formData {
        &::before {
          content: '数据格式：formData';
          color: #fff;
          background: #566573;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 0;
          border-radius: 3px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &.open {
    display: block;
    .content {
      max-width: 820px;
    }
    .mask {
      display: block;
      cursor: pointer;
    }
  }

  .response-viewer {
    tab-size: 2;
    word-spacing: 0;
    line-height: 1.3;

    .tips {
      color: #555;
    }
  }

  .max-text-limit {
    max-width: 500px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.3;
  }
  .max-text-limit-2 {
    max-width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.3;
  }
}


.data-table {
  width: 100%;
  margin-top: 5px;
  border-collapse: collapse;
  font-size: 13px;
  caption {
    border: solid 1px #2E4053;
    padding: 5px 0;
    text-align: center;
    background: #2E4053;
    color: #fff;
    caption-side: top;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  thead {
    margin-top: 40px;
  }
  td {
    border: solid 1px #2E4053;
    padding: 3px 20px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    &:nth-child(1) {
      font-weight: bold;
      color: #aaa;
    }
    &:nth-child(2) {
      color: #999;
      > span {
        cursor: pointer;
      }
    }
  }
}

.body-panel {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: $panelHeight;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: $cardColor;
  color: #aaa;
  padding: 15px;
  border-radius: $panelBorderRadius;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1;
  margin-top: 10px;
  .not-support {
    text-align: center;
  }
  .image-preview-box {
    text-align: center;
    .ant-spin {
      display: block;
    }
  }
  .video-preview-box {
    video {
      width: 100%;
    }
  }
  .image-preview {
    max-width: 100%;
    max-height: 100%;
    box-shadow: rgb(255 255 255 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  }
  .handlers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .ant-btn {
      margin-left: 10px;
    }
  }
  pre {
    line-height: 1.3;
    font-size: 14px;
    a {
      color: #839192;
      .str {
        color: #839192;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .ws-list {
    list-style: circle;
    li {
      padding: 5px 0;
    }
  }
  .format-btn {
    display: inline-flex;
    align-items: center;
    padding: 2px 3px;
    background: chocolate;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 11px;
  }
}
