@import '../theme.scss';

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.app-main {
  position: absolute;
  top: $appPadding;
  left: $appPadding;
  right: $appPadding;
  bottom: $appPadding;
  overflow: hidden;
}

