@import '../theme.scss';
@import '../mixin.scss';

/* 数据表格 */
.table-box {
  width: calc(100% - 10px);
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 60px);
  padding-bottom: 10px;
  margin-left: 5px;
  padding-right: 5px;
}
.table {
  width: 100%;
  position: relative;
  font-size: 17px;
  @include noselect;

  thead {
    tr {
      position: sticky;
      top: 0;
      background-color: $cardColor;
      color: $theadTextColor;
      font-size: 14px;
    }
    td {
      font-weight: normal;
      border-color: transparent;
      padding-top: 8px;
      padding-bottom: 8px;
      color: $iconColor;
    }
  }

  td {
    padding: 6px 0px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    vertical-align: middle;
    border-bottom: solid 1px $tableBorderColor;
    &:nth-child(1) {
      text-align: center;
    }
  }

  tbody {
    tr {
      color: $trTextColor;
      &:hover {
        background-color: $trHoverColor;
        cursor: pointer;
      }
      &.matched {
        color: $matchedTextColor;
      }
      &.active {
        background: $tableActiveColor;
      }
      &.error {
        color: $errorTextColor;
        :nth-child(1) {
          color: $errorTextColor;
        }
      }
      &.highlight {
        color: $highlightTextColor;
      }
    }
  }

  .status {
    width: 40px;
    text-align: center;
    &.s200,
    &.s101 {
      color: $httpStatus200;
    }
    &.s304 {
      color: $httpStatus304;
    }
  }
  .method {
    width: 70px;
    text-transform: lowercase;
    overflow: hidden;
  }
  .protocol {
    width: 60px;
  }
  .host {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .size {
    width: 70px;
  }
  .contentType {
      width: 110px;
  }
  .speed {
    width: 80px;
    &.slow {
      color: red;
    }
  }
  .ip {
    width: 150px;
    &:hover {
      color: $hoverColor;
    }
  }
}

.empty-tip {
  text-align: center;
  font-size: 15px;
  color: #999;
  padding: 20px 0;
  span {
    color: rgb(241, 196, 15);
    padding: 0 5px;
  }
}

@media screen and (max-width: 1325px) {
  .table {
    td {
      &:nth-last-child(1) {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1170px) {
  .table {
    td {
      &:nth-last-child(2) {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1066px) {
  .table {
    td {
      &:nth-last-child(3) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .table {
    td {
      &:nth-last-child(4) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .table {
    td {
      &:nth-child(3) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 775px) {
  .table {
    td {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .table {
    td {
      &:nth-child(1) {
        display: none;
      }
      &.host {
        width: 40%;
      }
    }
  }
}
