@import './theme.scss';

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html body {
  background-color: $bodyBackgroundColor;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1;
}

.scrollbar-style::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar-style::-webkit-scrollbar-track {
  border-radius: 3px;
  background: $panelBackground;
}
.scrollbar-style::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: $scrollBarColor;
  box-shadow: inset 0 0 10px $scrollBarColor;
}

:root {
  --rainbow-gradient: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
}
