$normalColor: #fff;
$bodyBackgroundColor: rgb(30, 31, 31);

$boxColor: rgb(20, 20, 20);

$cardColor: rgb(38, 38, 38);

$iconColor: rgb(244, 176, 38);

$disabled: rgba(100, 100, 100, 0.5);

$trHoverColor: #333;

$theadColor: #AEB6BF;
$theadTextColor: #999;
$tableBorderColor: rgba(51, 51, 51, 0.3);

$trTextColor: #aaa;

// $highlightTextColor: rgb(25, 118, 255);
$highlightTextColor: $iconColor;
$matchedTextColor: rgba(52, 152, 219, 0.9);

$modalBackground: #1B4F72;
$panelBackground: #1d1f21;
$panelFontColor: #fff;
$panelBorderRadius: 5px;
$maskBackground: rgba(0,0,0,0.8);
$labelKeyColor: #F1948A;
$labelValueColor: #139dcb;

$appPadding: 0px;

$httpStatus200: #145A32;

$scrollBarColor: rgb(56, 188, 215);

$errorTextColor: #CB4335;
