@import '../../theme.scss';
@import '../../mixin.scss';

.install-modal {
  text-align: center;
  color: #fff;

  pre {
    background-color: $cardColor;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    @include wordWrap();
  }

  .tip-text {
    color: #999;
    padding: 10px 0;
  }

  .url {
    color: #666;
    padding: 5px 0;
  }
  a {
    color: #f4d03f;
  }

  .install-helper {
    font-size: 14px;
    padding: 10px 0;
    width: 100%;
    @include center();
    justify-content: space-between;
    a,
    .bp-icon {
      color: $iconColor;
      fill: $iconColor;
    }
  }

  .ant-card-head-title {
    color: rgb(241, 196, 15);
  }

  .installTips {
    padding: 10px 0;
    color: red;
  }

  .qrcode {
    padding: 10px;
    background-color: #fff;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    @include center();
    > img {
      max-width: 100%;
    }
  }
}
