@import '../../theme.scss';

.install-modal {
  text-align: center;
  color: #fff;

  pre {
    background-color: $cardColor;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    @include wordWrap();
  }

  .tip-text {
    color: #999;
  }

  .url {
    color: #666;
    padding: 5px 0;
  }
  a {
    color: #F4D03F;
  }

  .install-helper {
    font-size: 14px;
    padding: 10px 0;
    a {
      color: rgb(26, 188, 156);
    }
  }
}
