@import '../../theme.scss';

.install-modal {
  text-align: center;
  color: #fff;

  pre {
    background-color: $cardColor;
    color: #fff;
    border-radius: 5px;
  }

  .tip-text {
    color: #999;
  }

  .url {
    color: #666;
  }
  a {
    color: #F4D03F;
  }
}
