* {
  margin: 0;
  padding: 0;
}
body{
  -webkit-font-smoothing: antialiased;
  font: 100% 'Hiragino Sans GB', Helvetica, Arial, 'Microsoft Yahei';
  font-size: 14px;
  overflow: hidden;
}
.detail-layer-pannel{
  position: fixed;
  width: 50%;
  height: 100%;
  z-index: 9999;
  overflow: scroll;
  top: 0;
  right: 0;
}
.response-body{
  width: 100%;
  float: left;
}
.response-show-div{
  font-size: 13px;
  overflow: scroll;
}
.response-url-title{
  word-break: break-all;
  font-size: 14px;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}
.response-url-title:hover{
  color: #000;
}
.scroll-table{
  overflow: scroll;
  position: absolute;
  top: 35px;
  height: 100%;
  width: 50%;
}
.request-list{
  width: 100%;
}
.response-show-div table{
  border: solid 1px #EFEFEF;
}
.response-show-div table tbody tr td:nth-child(1){
  min-width: 135px;
  text-align: right;
  border-right: 1px solid #efefef;
  font-weight: bold;
}
.response-show-div table thead th{
  border: none;
  border-right: 1px solid #efefef;
}
.response-show-div pre{
  background-color: #fbfbfb;
}
.request-list tr{
  cursor: pointer;
}
.request-list tbody tr.tr-host-selected,.request-list tbody tr.tr-host-selected td{
  background-color: #bff5f7;
}
.request-list tbody tr.tr-maplocal-selected,.request-list tbody tr.tr-maplocal-selected td{
  background-color: #f3d0b8;
}
.request-list tbody tr.tr-status-400,.request-list tbody tr.tr-status-400 td{
  color: red !important;
}
.request-list tbody tr.click-selected,.request-list tbody tr.click-selected td{
  /*outline: #3CB371 dashed 2px;*/
  background-color: #84bed4;
  color: #fff;
  border-color: #84bed4;
}
.filter-control{
  position: fixed;
  top: 0;
  width: 50%;
  border-bottom: solid 2px #000;
}
.filter-control .form-group,
.filter-control .form-group .input-group{
  width: 100%!important;
}
.filter-group .filter-label{
  text-align: right;
}
.filter-group .filter-label,
.filter-group input{
  height: 30px;
  line-height: 30px;
}
.filter-group .glyphicon{
  font-size: 16px;
  font-weight: 300;
  height: 28px;
  line-height: 30px;
  cursor: pointer;
  padding: 0 3px;
  top: 1px;
  right: 1px;
}
.filter-group .glyphicon:hover{
  background-color: #000;
  color: #fff;
}

.dataTables_wrapper .DTTT_container .DTTT_button.active {
  border-bottom: 2px solid green;
}

/*overwrite */
.panel{
  padding: 10px;
}
.panel .panel-body{
  padding-top: 0;
  color: #333;
}
.dataTables_wrapper .DTTT_container{
  margin-left: 0;
  float: left;
}
.dataTables_wrapper .DTTT_container .DTTT_button{
  padding: 4px;
}


/* normal style */
.table > thead > tr > td, .table > tbody > tr > td, .table > tfood > tr > td, .table > thead > tr > th, .table > tbody > tr > th, .table > tfood > tr > th{
  padding: 3px 5px;
}
.clear{
  clear: both;
}
pre{
  tab-size: 2;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
.wd-break{
  word-break: break-all;
}


/*media auto response*/
@media (max-width: 1300px) {
  .scroll-table{width: 50%;}
  .filter-control{width:50%;}
  .detail-layer-pannel{width: 50%;}
}
@media (min-width: 1300px) {
  .scroll-table{width: 70%;}
  .filter-control{width:70%;}
  .detail-layer-pannel{width: 30%;}
}